p2{color:green;}
p3{color: mediumblue;}
h1g{color: mediumseagreen;font-size: 50px;}
h2g{color:mediumseagreen;font-size: 40px;}
.sidebar{width: 320px;}
.sidebar__item{margin-bottom: 20px;}
.sidebar__item--fixed{position: sticky;margin-bottom: 0;top: 0px;z-index: 1;}
.backsct{background-color: rgb(102, 81, 223);}

ul1{border: 0;margin: 0;outline: 0;padding: 0;;display: flex;}
li1{list-style: none;width:150px;height: 100px;}

a{display: block;color: black;margin-right: 30px;font-size: 30px;}
#body{width: 810px;height: 1010px;}
#bodymain{width: 800px;height: 1000px;}
#boxright{float: right;width: 650px;height: 1000px;}
#submenu{float: left;width: 100px;height: 1000px;border: double 5px black;}
.haikei1{background-color: lightgreen;}
.kakomi1{border: double 5px gray;}

/* tadano */
.jump_cont{float: left;margin-right: 20px;width: 100vw;}
.jump_list{float: left;}
.jump_item{float: left;margin-right: 5px;width: 100px;}
.jump_item_txt{position: relative;}
.jump_item_link{position: relative;display: block;padding-top: 9px;
   height: 38px;font-size: 13.5px;font-weight: bold;text-align: center;
   text-decoration: none;color: black;}
.title{position: absolute;top: 110px;width: 100%;padding: 5px 30px 55px;
   color: black;background: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%, rgb(92, 224, 174) 100%);}
.title_text{display: block;margin: 0 auto;width: 700px;font-size: 32px;
   color: black;text-decoration: none;text-align: center;line-height: 1.5;
}

